<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.side.bms.BookManagement.model.DAO.BookManagementMapper">

    <resultMap id="productResultMap" type="com.side.bms.BookManagement.model.DTO.ProductSearchDTO">
        <id property="book_id" column="book_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="category" column="category"/>
        <result property="created_at" column="created_at"/>
    </resultMap>


    <resultMap id="UpdateResultMap" type="com.side.bms.BookManagement.model.DTO.UpdateDTO">
        <id property="book_id" column="book_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="category" column="category"/>
        <result property="created_at" column="created_at"/>
    </resultMap>


<insert id="registerBook" useGeneratedKeys="true" keyProperty="book_id">

    INSERT INTO
    tbl_book
    VALUES(
    NULL, #{ title }, #{ author }, #{ description } ,#{ price }, #{ category },NOW()
    )

</insert>

<select id="ViewAllProduct" resultMap="UpdateResultMap">
    SELECT
        book_id,
        title,
        author,
        description,
        price,
        category,
        created_at
    FROM
        tbl_book
    ORDER BY
        book_id
</select>


    <select id="searchProductByCategory" resultMap="productResultMap">
        SELECT
            book_id,
            title,
            author,
            description,
            price,
            category,
            created_at
        FROM
            tbl_book
        WHERE
        category = #{ category }
    </select>

    <select id="searchProductByPrice" parameterType="String" resultMap="productResultMap">
        SELECT
            book_id,
            title,
            author,
            description,
            price,
            category,
            created_at
        FROM
            tbl_book A
        WHERE 1=1
        <if test="price != null and price != '' and price &gt;= '0' and price &lt;= '10000'">
            AND A.price &lt;CAST(#{price} AS DECIMAL)
        </if>
        <if test="price != null and price != '' and price &gt; '10000' and price &lt;= '20000'">
            AND A.price &gt; 10000 AND A.price &lt;= CAST(#{price} AS DECIMAL)
        </if>
        <if test="price != null and price != '' and price &gt; '20000' and price &lt;= '30000'">
            AND A.price &gt; 20000 AND A.price &lt;CAST(#{price} AS DECIMAL)
        </if>
        <if test="price != null and price != '' and price &gt; '30000' and price &lt;= '40000'">
            AND A.price &gt; 20000 AND A.price &lt;CAST(#{price} AS DECIMAL)
        </if>
        ORDER BY book_id
    </select>






<select id="searchProductByAuthor" resultMap="productResultMap">
    SELECT
        book_id,
        title,
        author,
        description,
        price,
        category,
        created_at
    FROM
        tbl_book
    WHERE
        author = #{ author }
</select>



    <select id="selectBookNumber" resultType="com.side.bms.BookManagement.model.DTO.UpdateDTO">
        SELECT
            book_id
        FROM
            tbl_book
        WHERE
            book_id = #{ book_id }
    </select>


    <update id="ChangeBook" parameterType="com.side.bms.BookManagement.model.DTO.UpdateDTO">
        UPDATE
            tbl_book
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
            WHERE book_id = #{book_id}
    </update>



    <select id="ChooseBook"  resultMap="UpdateResultMap">
        SELECT
            book_id,
            title,
            author,
            description,
            price,
            category,
            created_at
        FROM
            tbl_book
        WHERE
            book_id = #{book_id}
    </select>



</mapper>